@-webkit-keyframes MOVE-RT {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(50px);
  }
}

@keyframes MOVE-RT {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(50px);
  }
}

.rt {
  position: absolute;
  left: -50px;
  right: -50px;
  top: 0px;
  bottom: 0px;
  z-index: -1;

  scale: 1.1;

  background: -webkit-repeating-linear-gradient(
    90deg,
    white 0px,
    white 25px,
    black 25px,
    black 50px
  );
  background: repeating-linear-gradient(
    90deg,
    white 0px,
    white 25px,
    black 25px,
    black 50px
  );

  -webkit-animation-name: MOVE-RT;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-name: MOVE-RT;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
