@-webkit-keyframes MOVE-DN {
  from {
    -webkit-transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(50px);
  }
}

@keyframes MOVE-DN {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

.dn {
  position: absolute;
  left: 0px;
  right: 0px;
  top: -50px;
  bottom: -50px;
  z-index: -1;

  background: -webkit-repeating-linear-gradient(
    0deg,
    white 0px,
    white 25px,
    black 25px,
    black 50px
  );
  background: repeating-linear-gradient(
    0deg,
    white 0px,
    white 25px,
    black 25px,
    black 50px
  );

  -webkit-animation-name: MOVE-DN;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-name: MOVE-DN;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
